
.header{
    display: flex;
    margin-bottom: 30px;
}

.right{
    
    display: flex;
    align-items: center;
    
    background-color: black;
    width: 195px;
    border-radius: 30px;
    opacity: 0.8;
}
.right > h3 {
    margin-left: 10px;
}