 
*{
    margin:0;
}

.login{
    display: grid;

    place-items: center;
    height: 100vh;
    background-color: black;
}
img{
    width: 35%;
}
a{
    margin-top: 30px;
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    color: white;
    text-decoration: none;
}